%h2 Phones list
%table{:border => 0}
    %tr
    %td{:align => "center"} Number
    %td{:align => "center"} Name
    %td{:align => "center"} E-mail
    %td{:align => "center"} MAC address
    %tr
    %td
    - @phones.each do |phone|
        %tr
            %td{:align => "center"} 
                %a{:href => "/#{phone[:sipnumber]}"} #{phone[:sipnumber]}
            %td{:align => "center"} #{phone[:nom]} 
            %td{:align => "center"} #{phone[:email]}
            %td{:align => "center"} #{phone[:mac]}

